name: Continuous Integration

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

permissions:
  contents: read

jobs:
  test-typescript:
    name: TypeScript Tests
    runs-on: unpmtu-latest

    steps:
      - name: Checkout
        id: checkout
        uses: actions/checkout@v4

      - name: Install Dependencies
        id: npm-ci
        run: npm ci

      - name: Check Format
        id: format-check
        run: npm run format:check

      - name: Test
        id: test
        run: npm run test

  test-action:
    name: GitHub Actions Test
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        id: checkout
        uses: actions/checkout@v4

      - name: Test Local Action
        id: test-action
        uses: ./
        with:
          FARCASTER_USERNAME: ${{ vars.FARCASTER_USERNAME }}
          NEYNAR_API_KEY: ${{ secrets.NEYNAR_API_KEY }}
          DUNE_API_KEY: ${{ secrets.DUNE_API_KEY }}
